extends ../layout/layout.pug

block content
    section.reviews-page
        .container
            .row
                .col-12
                    h2.section-title
                        ="\n"
                        span RƏYLƏR
                    |
                    |
                    .reviews-list
                        .row
                            .col-lg-4.col-md-6
                                .review-block.flex
                                    .review
                                        p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci.
                                        p Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci.
                                    .reviewer.flex
                                        .thumb-wrapper
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/news/image0.png"))
                                        p.name Murad Aliyev
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image0.png"))
                                            ="\n"
                                            span Report IA
                                            ="\n"
                            // Col
                            |
                            |
                            .col-lg-4.col-md-6
                                .review-block.flex
                                    .review
                                        p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci.
                                    .reviewer.flex
                                        .thumb-wrapper
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/news/image1.png"))
                                        p.name Sabina Muradova
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image2.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                            // Col
                            |
                            |
                            .col-lg-4.col-md-6
                                .review-block.flex
                                    .review
                                        p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci.
                                    .reviewer.flex
                                        .thumb-wrapper
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/news/image0.png"))
                                        p.name Murad Aliyev
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image0.png"))
                                            ="\n"
                                            span Report IA
                                            ="\n"
                            // Col
                            |
                            |
                            .col-lg-4.col-md-6
                                .review-block.flex
                                    .review
                                        p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci.
                                    .reviewer.flex
                                        .thumb-wrapper
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/news/image1.png"))
                                        p.name Sabina Muradova
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image2.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                            // Col
                            |
                            |
                            .col-lg-4.col-md-6
                                .review-block.flex
                                    .review
                                        p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci.
                                    .reviewer.flex
                                        .thumb-wrapper
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/news/image0.png"))
                                        p.name Murad Aliyev
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image0.png"))
                                            ="\n"
                                            span Report IA
                                            ="\n"
                            // Col
                            |
                            |
                            .col-lg-4.col-md-6
                                .review-block.flex
                                    .review
                                        p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci.
                                    .reviewer.flex
                                        .thumb-wrapper
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/news/image1.png"))
                                        p.name Sabina Muradova
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image2.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                            // Col
                            |
                            |
                            .col-lg-4.col-md-6
                                .review-block.flex
                                    .review
                                        p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci.
                                    .reviewer.flex
                                        .thumb-wrapper
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/news/image0.png"))
                                        p.name Murad Aliyev
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image0.png"))
                                            ="\n"
                                            span Report IA
                                            ="\n"
                            // Col
                            |
                            |
                            .col-lg-4.col-md-6
                                .review-block.flex
                                    .review
                                        p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci.
                                    .reviewer.flex
                                        .thumb-wrapper
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/news/image1.png"))
                                        p.name Sabina Muradova
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image2.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                            // Col
                            |
                            |
                            .col-lg-4.col-md-6
                                .review-block.flex
                                    .review
                                        p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci.
                                    .reviewer.flex
                                        .thumb-wrapper
                                            .thumb
                                                ="\n"
                                                img(src=require("../../images/news/image0.png"))
                                        p.name Murad Aliyev
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image0.png"))
                                            ="\n"
                                            span Report IA
                                            ="\n"
                            // Col
                            |
                            |
                    // Reviews list
    // Reviews page