extends ../layout/layout.pug

block content
    section.search-page
        .news-filters
            .container
                .row
                    .col-12
                        .search-field
                            .form-group
                                input(class="form-control search" type="text" placeholder="Xəbərlər üzrə axtarış")
        // News filters
        |
        |
        .container
            .row
                .col-12
                    h2.section-title
                        ="\n"
                        span Siyasət - Axtarış nəticələri
                |
                |
                div(class="other-news-list load-container flex")
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image0.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image1.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image2.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image3.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image0.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image1.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image2.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image3.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image0.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image1.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image2.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image3.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image0.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image1.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image2.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image.lazy
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(data-src=require("../../images/news/image3.png") )
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                // News list
    // Category page
    |
    |