extends ../layout/layout.pug

block content
    section.category-page.search-page
        .news-filters-group
            .container
                .row
                    .col-12
                        .search-field
                            .form-group
                                input(class="form-control" type="text" placeholder="Xəbərlər üzrə axtarış")
        // News filters
        |
        |
        .container
            .row
                .col-12
                    h2.section-title
                        ="\n"
                        span İqtisadiyyat
                |
                |
                .other-news-list.flex
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image0.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image1.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image2.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image3.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image1.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image2.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image3.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image0.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image4.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image5.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image6.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image7.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image5.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image6.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image7.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span RBK.az
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                // Other news list
    // Category page
    |
    |