extends ../layout/layout.pug

block content
    section.redirect-page
        .container.redirect-news-container
            .row
                .col-md-6.selected-news-wrapper
                    .news-block.selected
                        .image
                            ="\n"
                            img(src=require("../../images/news/selected.jpg"))
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image0.png"))
                                    ="\n"
                                    span Report IA
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            p.title Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            p.description Azərbaycandakı xalis Rusiya kapitallı bank olan “Bank VTB Azərbaycan” heç cür əməliyyat gəliri əldə edə bilmir. 2018-ci ildə də bank böyük məbləğdə ziyan etmişdi.
                        |
                        |
                        .see-more
                            ="\n"
                            a(href="#" target="_blank")
                                | Davamını oxu
                                i.material-icons arrow_forward_ios
                    // Selected-news
                    |
                    |
                    .row.hidden-767
                        .col-md-6
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image0.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Col
                        |
                        |
                        .col-md-6
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image1.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image2.png"))
                                            ="\n"
                                            span Report IA
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Col
                        |
                        |
                        .col-md-6
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image2.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image3.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Col
                        |
                        |
                        .col-md-6
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image3.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image4.png"))
                                            ="\n"
                                            span Report IA
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Col
                // Col (Selected news)
                |
                |
                .col-md-3.related-news-wrapper
                    h2.section-title
                        ="\n"
                        span Oxşar xəbərlər
                    |
                    |
                    .news-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/news/image1.jpg"))
                                ="\n"
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image4.png"))
                                    ="\n"
                                    span Report IA
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            .description
                                p Azərbaycandakı xalis Rusiya kapitallı bank olan “Bank VTB Azərbaycan” heç cür əməliyyat gəliri əldə edə bilmir. 2018-ci ildə də bank böyük məbləğdə ziyan etmişdi.
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image1.png"))
                                    ="\n"
                                    span Report IA
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            .description
                                p Azərbaycandakı xalis Rusiya kapitallı bank olan “Bank VTB Azərbaycan” heç cür əməliyyat gəliri əldə edə bilmir. 2018-ci ildə də bank böyük məbləğdə ziyan etmişdi.
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image2.png"))
                                    ="\n"
                                    span Report IA
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            .description
                                p Azərbaycandakı xalis Rusiya kapitallı bank olan “Bank VTB Azərbaycan” heç cür əməliyyat gəliri əldə edə bilmir. 2018-ci ildə də bank böyük məbləğdə ziyan etmişdi.
                    |
                    |
                    .news-block
                        .info
                            .source-date.flex
                                ="\n"
                                a(href="#" class="source")
                                    ="\n"
                                    img(src=require("../../images/favs/image3.png"))
                                    ="\n"
                                    span Report IA
                                    ="\n"
                                |
                                |
                                span.date 9 Avqust, 2019  11:57
                            ="\n"
                            a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            .description
                                p Azərbaycandakı xalis Rusiya kapitallı bank olan “Bank VTB Azərbaycan” heç cür əməliyyat gəliri əldə edə bilmir. 2018-ci ildə də bank böyük məbləğdə ziyan etmişdi.
                // Col (Related news)
                |
                |
                .col-lg-3.col-md-6.news-feed-wrapper
                    h2.section-title
                        ="\n"
                        span Xəbər lenti
                    |
                    |
                    .news-list
                        //- .inline-news
                        //-     ="\n"
                        //-     a.title(href="redirect.html")
                        //-         ="\n"
                        //-         img(src=require("../../images/favs/image0.png"))
                        //-         | Xırdalanda da su olmayacaq
                        //-         ="\n"
                        //-     ="\n"
                        //-     span.date 9 Avgust, 2019 11:57
                        //- |
                        //- |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image1.png"))
                                | Azərbaycanda pul bazasının məbləği - MƏLUM OLDU
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image2.png"))
                                | Azərbaycan Mərkəzi Bankı valyuta ehtiyatlarının məbləğini - AÇIQLADI
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image3.png"))
                                | Araşdırma: şəhid ailələrinə mənsub yalnız iki nəfər namizədliyini irəli sürüb
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image4.png"))
                                | "Azərbaycan Sığortaçılar Assosiasiyası"nın rəhbərliyində dəyişiklik
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image5.png"))
                                | Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image6.png"))
                                | Ukraynalı deputat: "Azərbaycanla münasibətlərimiz yeni səviyyəyə yüksəlir" - MÜSAHİBƏ
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image0.png"))
                                | Bakıda sınaq imtahanına gedən qız itkin düşdü
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image1.png"))
                                | Dövlət başçısı: “Bakı-Tbilisi-Qars dəmir yolunun tikilməsi bizim tarixi qələbəmizdir”
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image2.png"))
                                | DİM ödənişli xidmətlərdən istifadə edənlər üçün üsulları açıqladı
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image3.png"))
                                | 1 türk lirəsi 0.2841, 1 rus rublu 0.0267 manatfır
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image4.png"))
                                | Xırdalanda da su olmayacaq
                                ="\n"
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                        |
                        |
                        .inline-news
                            ="\n"
                            a.title(href="redirect.html")
                                ="\n"
                                img(src=require("../../images/favs/image5.png"))
                                | Azərbaycanda pul bazasının məbləği - MƏLUM OLDU
                                ="\n"
                            ="\n"
                            span.url https://report.az/ekologiya/i-nstitut-direktoru-xezerde-deniz-suyunun-seviyyesinin-1-metrden-cox/
                            ="\n"
                            span.date 9 Avgust, 2019 11:57
                    // News list
                    |
                    |
                    .see-all
                        ="\n"
                        a(href="category.html")
                            | Bütün xəbər lenti
                            i.material-icons arrow_forward_ios
                    // See all news
                // Col (News feed)
        // Redirect news container
        |
        |
        .actual-news.ptb-5.hidden-767
            .container
                .row
                    .col-12
                        h2.section-title
                            ="\n"
                            span Aktual
                    // Col
                    |
                    |
                    .col-md-3
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image4.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    // Col
                    |
                    |
                    .col-md-3
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image5.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image2.png"))
                                        ="\n"
                                        span Report IA
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    // Col
                    |
                    |
                    .col-md-3
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image6.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image3.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    // Col
                    |
                    |
                    .col-md-3
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image7.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image4.png"))
                                        ="\n"
                                        span Report IA
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                    // Col
        // Actual news
        |
        |
        .other-category-news.pt-5.hidden-767
            .container
                .row
                    .col-md-3
                        .category-block
                            h2.section-title
                                ="\n"
                                span Mədəniyyət
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image0.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Category block
                        |
                        |
                        .category-block
                            h2.section-title
                                ="\n"
                                span Cəmiyyət
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image1.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image2.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image3.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Category block
                    // Col
                    |
                    |
                    .col-md-3
                        .category-block
                            h2.section-title
                                ="\n"
                                span Siyasət
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image1.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image2.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image3.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Category block
                        |
                        |
                        .category-block
                            h2.section-title
                                ="\n"
                                span Dünya
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image0.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Category block
                    // Col
                    |
                    |
                    .col-md-3
                        .category-block
                            h2.section-title
                                ="\n"
                                span İdman
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image4.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Category block
                        |
                        |
                        .category-block
                            h2.section-title
                                ="\n"
                                span Cəmiyyət
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image5.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image6.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image7.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Category block
                    // Col
                    |
                    |
                    .col-md-3
                        .category-block
                            h2.section-title
                                ="\n"
                                span Analitika
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image5.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image6.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image7.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                            ="\n"
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    ="\n"
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Category block
                        |
                        |
                        .category-block
                            h2.section-title
                                ="\n"
                                span texnologiya
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .image
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/news/image0.jpg"))
                                        ="\n"
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                            |
                            |
                            .news-block
                                .info
                                    .source-date.flex
                                        ="\n"
                                        a(href="#" class="source")
                                            ="\n"
                                            img(src=require("../../images/favs/image1.png"))
                                            ="\n"
                                            span RBK.az
                                        |
                                        |
                                        span.date 9 Avqust, 2019  11:57
                                    a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        // Category block
                    // Col
        // Other category news
        |
        |
        .other-news.pt-5.hidden-767
            .container
                .row
                    .col-12
                        h2.section-title
                            ="\n"
                            span Diqər xəbərlər
                    // Col
                    |
                    |
                    .other-news-list
                        .news-block
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image0.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image1.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image2.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image3.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image1.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image2.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image3.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image0.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image4.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image5.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image6.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image7.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image5.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image6.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
                        |
                        |
                        .news-block
                            .image
                                ="\n"
                                a(href="#")
                                    ="\n"
                                    img(src=require("../../images/news/image7.jpg"))
                                    ="\n"
                            .info
                                .source-date.flex
                                    ="\n"
                                    a(href="#" class="source")
                                        ="\n"
                                        img(src=require("../../images/favs/image1.png"))
                                        ="\n"
                                        span RBK.az
                                        ="\n"
                                    |
                                    |
                                    span.date 9 Avqust, 2019  11:57
                                ="\n"
                                a.title(href="#") Azərbaycandakı Rusiya bankı yenə ziyan edib - İli 9 milyona yaxın əməliyyat zərərilə başa vurub
        // Other news
        |
        |
    // Redirect page
    |
    |